button.button_01 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #333;
}


button.button_01:hover {
	transition: 0.3s; 
	opacity: 0.8;
}